/*通用-设置图标，按钮等控件大小class*/
.btn-mylg {
	font-size: 25px;
}

/*通用-设置文字大小class*/
.text-mylg {
font-size: 18px; 
}

.text-myVerylg {
font-size: 20px; 
}

.text-mySolg {
font-size: 24px; 
}

/*通用-设置文字大小class*/
.text-mySmall {
	font-size: 12px;
}

.text-myMedium {
	font-size: 16px;
}

/*通用-设置文字从right到left*/
.text-r2l {
	text-align: right;
}

.text-info-color{
	color: #8B8585;
}

.text-red {
	color: red;
}

.text-blue {
	color: blue;
}

.text-gray {
	color: #6A6868;
}

/*通用-设置文字行数为2行*/
.span-s1 {
border: 1px dashed #D1D0D0;
background-color: #DDD6D6;
padding: 2px 4px;
}

/*通用-产品名称用黑色字体*/
.itemName {
color: #000000;
}

/*通过价格都用红色字体*/
.itemPrice,.itemTotal,.orderPrice,.bookPrice{
color: red;
}

a {
	color: #010000;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}