<html th:fragment="head_infor" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8"/>
    <title>客服助手管理系统</title>
    <script type="text/javascript" th:src="@{../js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../js/themes/default/default.css}"/>
    <script type="text/javascript" th:src="@{../js/kindeditor-all-min.js}"></script>
    <script type="text/javascript" th:src="@{../js/common.js}"></script>
    <script type="text/javascript" th:src="@{../lang/zh-CN.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{../css/common.css}"/>
</html>